@model IEnumerable<MovieZone.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@Html.ActionLink("Create", "New", "Customers", null, new {@class="btn btn-primary"})

@if (!Model.Any())
{
    <text>Do not have any customer yet.</text>
}
else
{
    <table id="customersTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)
                    </td>
                    <td>
                        @customer.MembershipType.Name
                    </td>
                    
                    <td>
                        <button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#customersTable .js-delete").on("click", function() {
                var button = $(this);

                if (confirm("Are you sure to delete this data?")) {
                    $.ajax({
                        url: "/api/customers/" + button.attr("data-customer-id"),
                        method: "DELETE",
                        success: function() {
                            console.log("Success");

                            button.parents("tr").remove();
                        }
                    });
                }
            })
        });
    </script>
}

